
.group {
    display: none;
}

.my-list-group
{
max-height: 300px;
margin-bottom: 10px;
overflow:scroll;
-webkit-overflow-scrolling: touch;
}

.navbar
{
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}

.form-group {
    margin-bottom: 0.5rem !important;
}

.dropdown-menu {
    max-height: 150px !important;
    overflow-y: auto !important;
}

.input-group-mediumWith {
    min-width:125px;
    text-align:left;
}
.input-group-Configure {
    min-width:200px;
    text-align:left;
}
.input-group-ConfigureWithPrefixedBox {
    min-width:162px;
    max-width:162px;
    text-align:left;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
  }

.cstDraggable.dragElem {
    opacity: 0.4;
}
.cstDraggable.over {
    border-top: 4px solid black;
}
.cstDraggable header {
  height: 20px;
  width: 150px;
  color: black;
  background-color: #ccc;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid #666666;
}