{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Privacy/Confidentiality for Process Mining</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon16.16.png' %}"/>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


  <!-- Custom styles for this template -->


  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet">

  {% block style %}
  {% endblock %}

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">

      <div class="list-group list-group-flush">
        <div class="sidebar-heading">
          <a href="/"><img style='height: 100%; width:100%;object-fit: contain ' src="{% static 'images/PC4PM50.png' %}" /> </a>
          </div>
            <a href="/upload/upload_eventlog" class="list-group-item list-group-item-action bg-light" id="menuLink_EventData">Event Data</a>
            <a href="/role_mining/role_main" class="list-group-item list-group-item-action bg-light" id="menuLink_PrivacyAwareRoleMining">Privacy-Aware Role Mining</a>
            <a href="/connector/connector_main" class="list-group-item list-group-item-action bg-light" id="menuLink_ConnectorMethod">Connector Method</a>
            <a href="/tlkc_privacy/tlkc_main" class="list-group-item list-group-item-action bg-light" id="menuLink_TLKCprivacy">TLKC-privacy</a>
            <a href="/tlkc_privacy_ext/tlkc_ext_main" class="list-group-item list-group-item-action bg-light" id="menuLink_TLKCprivacyExtended">TLKC-privacy Extended</a>
            <a href="/anonymization/anonymization_main" class="list-group-item list-group-item-action bg-light" id="menuLink_AnonymizationOperations">Anonymization Operations</a>
            <a href="/pripel/pripel_main" class="list-group-item list-group-item-action bg-light" id="menuLink_PrivacyAnalysis_PRIPEL">PRIPEL</a>
            <a href="/privacy_analysis/privacy_analysis_main" class="list-group-item list-group-item-action bg-light" id="menuLink_PrivacyAnalysis">Privacy Analysis</a>
        <a href="/comming_main" class="list-group-item list-group-item-action bg-light">Comming Soon...</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.pads.rwth-aachen.de/cms/~pnbx/PADS/?lidx=1">About US</a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href=https://www.researchgate.net/project/Confidentiality-in-Process-Mining>Project Link</a>
            </li>
            <!--<li class="nav-item dropdown">-->
            <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Dropdown-->
            <!--</a>-->
            <!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--</div>-->
            <!--</li>-->
          </ul>
        </div>
      </nav>

      {% block content %}

      {% endblock %}

    </div>



    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'css/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'css/vendor/jquery/popper.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'css/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <!-- Menu Toggle Script -->

  {% block script %}

  {% endblock %}


</body>

</html>