{% extends 'base.html' %}

{% block content  %}



      <div class="container-fluid">
        <h3 class="mt-4" style="color:#00529F;">Connector Method</h3>

        <form  name="apply_connector" action="connector_main" method = "POST">

         <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              {% if log_name != ':notset:' %}
                <p style="color:green;"> {{log_name}} is used as input.</p>
              {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log as input!</p>
              {% endif %}

               {% if message %}
                 <p style="color:red;"> {{message}} </p>
               {% endif %}

            {% csrf_token %}


              <!--<label for="enkey" class="col-sm-4 col-md-6 col-lg-8 col-form-label">Encryption Key</label>-->
              <!--<div class="col-sm-6">-->
                  <!--<input type="text" class="form-control" id="enkey" name="enkey" placeholder="Encryption Key" value="DEFPASSWORD12!!!">-->
              <!--</div>-->


                <div class="form-group row">
                    <label for="enkey" class="col-sm-3 col-form-label">Encryption Key</label>
                    <div class="col-sm-5">
                      <input type="password" class="form-control" id="enkey" name="enkey" placeholder="Encryption Key" value="{{values.enkey}}">
                    </div>
                </div>

               <div class="form-group row">
                    <label for="enmethod" class="col-sm-3 col-form-label">Encryption Method</label>
                    <div class="col-sm-1 col-md-3 col-lg-5">
                       <select class="form-control" id="enmethod" name="enmethod">
                          <option>AES-ECB-128</option>
                      </select>
                    </div>
                </div>

            <p>Process mining abstraction includes:</p>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="relationDepth" value="relationDepth" name="relationDepth">
              <label class="form-check-label" for="relationDepth">Relation Depth</label>
                {% if values.relationDepth %}
                     <script>
                        $( "#{{values.relationDepth}}").prop('checked', true);
                    </script>
                {% endif %}
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="traceLength" value="traceLength" name="traceLength">
              <label class="form-check-label" for="traceLength">Trace Length</label>
                 {% if values.traceLength %}
                     <script>
                        $( "#{{values.traceLength}}").prop('checked', true);
                    </script>
                {% endif %}
            </div>

            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="traceId" value="traceId" name="traceId">
              <label class="form-check-label" for="traceId">Trace ID</label>
                 {% if values.traceId %}
                     <script>
                        $( "#{{values.traceId}}").prop('checked', true);
                    </script>
                {% endif %}
            </div>


            <div class="pt-4">
            <button type="submit" class="btn btn-primary mb-2" id ='applyButton' name="applyButton"> Apply </button>
            </div>

        </div>
        </div>
        <br>
         <div class="row">
          <div class=" col-sm-6 col-md-7 col-lg-8">
              <h5> Outputs </h5>

                  <select name="output_list" class="custom-select" size="4">
                            {% for output in outputs %}
                                <option value="{{output}}">{{output}}</option>
                            {% endfor %}
                  </select>

                  <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top" title="Add to the none event logs" type = "submit" class="btn btn-success" value = "Add" name= "addButton" id ='addButton' />
                  <input style="margin-top: 10px;" type = "submit" class="btn btn-danger" value = "Delete" name= "deleteButton" id ='deleteButton'/>
                  <input style="float: right; margin-top: 10px;" type = "submit" class="btn btn-info" value = "Download" name= "downloadButton" id ='downloadButton'/>

           </div>
             <div class="spinner-grow text-primary" style="display:none" role="status">
                        <span class="sr-only">Loading...</span>
             </div>
          </div>

        </form>

         {% if values.load %}
                <script>
                    $(".spinner-grow").show();
                </script>
          {% endif %}

      </div>

{% endblock %}

{% block script %}

  <script>

  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });

  $( "#applyButton" ).click(function() {
      var logname = "{{log_name}}";
      if ( logname == ":notset:")
      {
        alert( "Consider the RED messages in the screen!" );
      }
      $(".spinner-grow").show();
   });

   <!--function LoadELResult() {-->
    <!--document.getElementById('ELResult').style.display = "block";-->
    <!--}-->
   <!--function LoadELResultimg() {-->
    <!--document.getElementById('ELResultimg').style.display = "block";-->
    <!--}-->
  </script>

{% endblock %}