{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <h3 class="mt-4" style="color:#00529F;">PRIPEL</h3>

    <form name="apply_pripel" action="pripel_main" method="POST">

        <div class="row">
            <div class=" col-sm-6 col-md-7 col-lg-8">
                {% if log_name != ':notset:' %}
                <p style="color:green;"> {{log_name}} is used as input.</p>
                {% else %}
                <p style="color:red;"> You have not set any event log as input. Use "Event Data" tab to set an event log
                    as input!</p>
                {% endif %}

                {% if message %}
                <p style="color:red;"> {{message}} </p>
                {% endif %}

                {% csrf_token %}
                <!--<p>Event log: <input type = "file" value="fileupload" name = "Event Log" /></p>-->


                <div class="form-group row">
                    <label for="epsilon" class="col-sm-5 col-form-label">Epsilon (&#1013;)
                        <span data-toggle="tooltip"
                            title="The strength of the differential privacy guarantee">&#x1F6C8;</span>:</span>
                    </label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="epsilon" name="epsilon"
                            placeholder="Epsilon Value" value="{{values.epsilon}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="k" class="col-sm-5 col-form-label">Trace-Variant-Query Prunning Parameter (k)
                        <span data-toggle="tooltip" title="The maximal prefix length of considered traces for the trace-variant-query">&#x1F6C8;</span>:</span></label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="k" name="k" placeholder="k Value"
                            value="{{values.k}}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="n" class="col-sm-5 col-form-label">Trace-Variant-Query max. Prefix (n)
                        <span data-toggle="tooltip"
                            title="Prunning parameter of the trace-variant-query. At least k traces must appear in a noisy variant count to be part of the result of the query">&#x1F6C8;</span>:</span></label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="n" name="n" placeholder="Confidence Value"
                            value="{{values.n}}">
                    </div>
                </div>

                <div class="pt-4">
                    <button type="submit" class="btn btn-primary mb-2" id='applyButton' name="applyButton"> Apply
                    </button>
                </div>

            </div>

        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-md-7 col-lg-8">
                <h5> Outputs </h5>

                <select name="output_list" class="custom-select" size="4">
                    {% for output in outputs %}
                    <option value="{{output}}">{{output}}</option>
                    {% endfor %}
                </select>

                <input style="margin-top: 10px;" data-toggle="tooltip" data-placement="top"
                    title="Add to the event logs" type="submit" class="btn btn-success" value="Add" name="addButton"
                    id='addButton' />
                <input style="margin-top: 10px;" type="submit" class="btn btn-danger" value="Delete" name="deleteButton"
                    id='deleteButton' />
                <input style="float: right; margin-top: 10px;" type="submit" class="btn btn-info" value="Download"
                    name="downloadButton" id='downloadButton' />

            </div>
            <div class="spinner-grow text-primary" style="display:none" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        {% if values.load %}
        <script>
            $(".spinner-grow").show();
        </script>
        {% endif %}

    </form>



    <!-- Modal shown during processing -->
    <div class="modal fade" id="op-Processing-Wait-Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex justify-content-center align-items-center">
                        <span>Processing your request - Please wait...</span>
                        <div class="spinner-border" role="status" style="margin-left: 25px;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <span style="font-size: 8pt;">Please note that processing larger files may take a few
                            minutes!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block script %}

<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    $("#applyButton").click(function () {
        var logname = "{{log_name}}";
        if (logname == ":notset:") {
            alert("Consider the RED messages in the screen!");
        }
        $(".spinner-grow").show();
    });
</script>

{% endblock %}